body{
  background-color: grey;
}
.cloud-1{
  position: absolute;
  top: 150px;
  left: 200px;
}
.cloud-2{
  position:absolute;
  top: 50px;
  right: 100px;
}
.mountain{
  position: relative;
  margin-top: 250px;
  margin-left: 300px;
}
